// import fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

// colors
$white: #ffffff;
$dark: #000000;

// rest of the vars
$backgroundColor: $white;
$textColor: $dark;
$letterSpacing: 1px;

// fonts
$main-font: 'Open Sans', sans-serif;
$small-text: 0.875rem;
$extra-small-text: 0.7em;

// border
$border-radius: 0.25rem;
$input-radius: 1.5rem;

// animations
$transition: 0.3s ease-in-out all;

// constant sizes

// media queries
// @media screen and (min-width: $) {}

// min-width
$large-screen: 1200px;
$laptop-screen: 992px;
$medium-screen: 768px;
$tablet-screen: 600px;

//max-width
$phone-screen: 600px;
$extra-small-screen: 360px;

// shadows
$shadow-1: 0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f;
$shadow-2: 0 4px 6px -1px #0000001a, 0 2px 4px -1px #0000000f;
$shadow-3: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
$shadow-4: 0 20px 25px -5px #0000001a, 0 10px 10px -5px #0000000a;

@mixin centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin alignVertically {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
